.layout{
  height: 100vh;
  min-height: 675px;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.91), rgba(205, 205, 205, 0.1)), url(../images/texture.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.chord{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__text{
    font-size: 6rem;
    margin-top: 75px;
    margin-bottom: 0;
  }
  &__subtext{
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 575px) {

}