.menu{
  position: absolute;
  top: 2.5rem; right: 2.5rem;
  font-size: 1.3rem;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  animation: menuWoosh 500ms ease;
}

.modal{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0; left: 0;
  z-index: 100;
  background: rgba(233, 113, 53, 0.95);
  color: white;
  animation: modalBackground 400ms ease;

  &__button{
    position: absolute;
    top: 2.5rem; left: 2.5rem;
    font-size: 1.3rem;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  }
}

@keyframes menuWoosh {
  0%{
    transform: translateX(-90vw);
    opacity: 0.5;
  }

  50%{
    transform: translateX(25px);
  }

  100%{
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes modalBackground {
  0%{
    transform: scale(0.2) translateY(-50vh) translateX(200vw);
    opacity: 0;
  }

  50%{
    transform: scale(1.07) translateY(20px) translateX(-1px);
  }

  100%{
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
  }
}
