* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; //borders and padding not included in total box width
}

html {
  font-size: 56.5%;
}

body {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  color: #222222;
}

button:focus{
  outline: none
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
